# ignore everything
*
# except these:
!.editorconfig
!.gitattributes
!.gitignore
!*.sln
!*.csproj
!*.md
!*.html
!*.css
!*.csv
!favicon.ico
!robots.txt
!*.json
!pi.txt
!e.txt
!phi.txt
!fibonacci.txt
!factorial.txt