/*
html, body {
	position:relative;
	height:100%;
}
*/
body {
	/*padding-top: 50px;*/
	/*padding-bottom: 20px;*/
}
section.main { margin:1em; }
div.tab-pane { padding:1em; border:solid 1px #ddd; border-top-width:0; }
h1 { font-size:24px; }
table { border-collapse:collapse; border:solid 1px #ddd; }
td { padding:5px; border:solid 1px #ddd; }
img.icon { width:16px; height:16px; }

div.wrapper { display: inline; }
div.url { padding: 3px; display: inline; }
div.icon { padding-left:22px; background-size: 16px 16px; background-position: left center; background-repeat: no-repeat; }
div.wrapper div.icon { margin-left: 3px; }
div.wrapper:first-child div.icon { margin-left: 0; }
div.wrapper:before { content: " | "; }
div.wrapper:first-child:before { content: ""; }
/*
#wrapper {
	position: relative;
	min-height: 100%;
	padding-bottom: 5em;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color:white;
	background-color:#333333;
	padding:1em;
}
*/